.landing-text {
  padding-left: 5%;
  margin-top: 20vh;
  font-size: 2.4em;
}

.btn-get-started {
  font-weight: 400;
  margin-left: 5%;
  height: 50px;
  width: 35%;
  margin-top: 25px;
  border-radius: 40px !important;
  transition: 500ms all;
  font-size: 1em;
  line-height: calc(57px / 2);
}

.btn-get-started:hover {
  transform: translateY(-6px);
  transition: 500ms all;
}

.btn-get-login {
  font-weight: 400;
  margin-left: 5%;
  height: 50px;
  width: 30%;
  margin-top: 25px;
  border-radius: 40px !important;
  transition: 500ms all;
  font-size: 1em;
  line-height: calc(57px / 2);
}

.btn-get-login:hover {
  transform: translateY(-6px);
  transition: 500ms all;
}

.description-text {
  padding-left: 6%;
  margin-top: 25px;
  font-size: 1.2em;
  color: white;
}
.animate-scroll {
  animation: scrol 1s infinite alternate linear;
  transition: 1s all;
}

.movies-img {
  height: 500px;
  margin-left: 15%;
}

.presentation-text {
  margin-top: 10%;
  line-height: 45px;
}

.supported-text {
  margin-top: 7%;
  font-weight: 900;
  text-align: center;
  font-size: 1.3em;
}

.supported-box {
  width: 60px;
  height: 60px;
  margin-left: 4%;
  margin-right: 4%;
}

.box-margin {
  margin-top: 5%;
}

.custom-player {
  width: 100%;
  border-radius: 10px;
  border-style: none;
}

.custom-thumbnail {
  /* background-image: url("https://img.youtube.com/vi/WhWc3b3KhnY/hq720.jpg"); */
  /* background-size: cover; */
  /* background-position: center center; */
  /* background-repeat: no-repeat; */
  width: 100%;
  height: 500px;
  border-radius: 16px;
  filter: blur(3px);
}

@keyframes scrol {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px) scale(0.6);
  }
}
