<section id="landing" class="landing-section">
    <div class="container">
        <div class="row  pt-4">
            <div class="col-md-6 pt-5 ">
                <h1 class="landing-text primary-font text-white">Save any <span class="pink-color"> Video / Audio </span> ,<br> And play it when you want</h1>
                <button type="button" class="btn btn-get-started text-white primary-font border-0 pink-glow radius  pink-bg" ><svg width="20" height="24" viewBox="0 0 20 24" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-right: 8%;">
                    <path d="M18.9464 9.64631L3.23214 0.298066C1.95536 -0.461114 0 0.275605 0 2.15334V20.8453C0 22.5299 1.81696 23.5451 3.23214 22.7006L18.9464 13.3569C20.3482 12.5258 20.3527 10.4774 18.9464 9.64631Z" fill="white"/>
                    </svg><span class="primary-font-semi-bold ">Get Started</span>
                </button>
            </div>
        </div>
    </div>
    <div class="btm-shadow"></div>
</section>